<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <intent>
            <action android:name="org.acestream.action.start_content" />
            <data android:scheme="acestream" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="acestream" />
        </intent>
        <package android:name="org.acestream.media" />
        <package android:name="org.acestream.media.atv" />
        <package android:name="org.acestream.core" />
        <package android:name="org.acestream.core.atv" />
    </queries>

    <application
        android:allowBackup="false"
        android:label="CO-CHI AceStream Test"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
